@media (max-width: 1200px) {
  #block .block-_svg-_img {
    padding: 55px 0;
    width: 71%;
    display: flex;
  }
  #block .block-_hero-_dom {
    padding: 26px 0px;
    justify-content: space-between;
    display: flex;
  }
  }
